// Font implementation
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

// vars
@import url("_variables.scss");

body{overflow: auto; font-family: 'Open Sans', sans-serif;}

// width
.wa{width:auto;}
.w5{width:5%;}
.w10{width:10%}
.w25{width:25%;}
.w33{width:33%;}
.w50{width:50%;}
.w66{width:66%;}
.w75{width:75%;}
.w100{width:100%;}
// height
.ha{height: auto;}
.h5{height:5%;}
.h6{height:6%;}
.h10{height:10%}
.h25{height:25%;}
.h33{height:33%;}
.h50{height:50%;}
.h66{height:66%;}
.h75{height:75%;}
.h100{height:100%;}
.h60P{height: 65px;}



// PADDING
.header-padding{padding-top:100px;}
.p0{padding:0;}
.padding-5{padding:5px;}
.padding-10{padding:10px;}
.padding-15{padding:15px;}
.padding-20{padding:20px;}
.padding-30{padding:30px;}
.padding-40{padding:40px;}
.padding-50{padding:50px;}
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-25p{padding-top:25%;}
.padding-top-30{padding-top:30px;}
.padding-top-40{padding-top:40px;}
.padding-top-50{padding-top:50px;}
.padding-top-50p{padding-top:50%;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-20{padding-bottom:20px;}
.padding-bottom-30{padding-bottom:30px;}
.padding-bottom-40{padding-bottom:40px;}
.padding-bottom-50{padding-bottom:50px;}
.padding-left-10{padding-left:10px;}
.padding-left-20{padding-left:20px;}
.padding-left-30{padding-left:30px;}
.padding-left-40{padding-left:40px;}
.padding-left-50{padding-left:50px;}
.padding-right-10{padding-right:10px;}
.padding-right-20{padding-right:20px;}
.padding-right-30{padding-right:30px;}
.padding-right-40{padding-right:40px;}
.padding-right-50{padding-right:50px;}

// MARGIN STYLES 
.m0{margin:0;}
.m0a{margin: 0 auto;}
.ma0{margin: auto 0;}
.margin-10{margin:10px;}
.margin-15{margin:15px;}
.margin-20{margin:20px;}
.margin-30{margin:30px;}
.margin-40{margin:40px;}
.margin-50{margin:50px;}
.margin-top-10{margin-top:10px;}
.margin-top-20{margin-top:20px;}
.margin-top-20{margin-top:20px;}
.margin-top-30{margin-top:30px;}
.margin-top-40{margin-top:40px;}
.margin-top-50{margin-top:50px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-50{margin-bottom:50px;}
.margin-left-10{margin-left:10px;}
.margin-left-20{margin-left:20px;}
.margin-left-30{margin-left:30px;}
.margin-left-40{margin-left:40px;}
.margin-left-50{margin-left:50px;}
.margin-right-10{margin-right:10px;}
.margin-right-20{margin-right:20px;}
.margin-right-30{margin-right:30px;}
.margin-right-40{margin-right:40px;}
.margin-right-50{margin-right:50px;}

// Headings
h1{font-size: 28px;} h2{font-size: 26px;} h3{font-size: 20px;} h4{font-size: 16px;}
.h4-b{font-size: 16px;}

// DISPLAY STYLES
.flex{display: flex;}
.flex1{flex:1;}

// Flex styles
.fcol{flex-direction: column;}
.frow{flex-direction: row;}

.faccenter{align-content: center;}
.fjccenter{justify-content: center;}
.faright{align-content: right}
.fjright{justify-content: right;}
.faleft{align-content: left}
.fjleft{justify-content: left;}

.sb{justify-content: space-between;}
.se{justify-content: space-evenly;}

// Text Align
.tcenter{text-align: center;}
.tleft{text-align: left;}
.tright{text-align: right;}

// BACKGROUND COLORS ==================================
.white-bg{background: $white;}
.grey-bg{background: $grey;}
.purple-bg{background: $purple;}
.no-bg{background: $none;}

// CONTAINER STYLES ===================================
// This is the top bar positioning on the page
.topbar{z-index:8;}

// This container houses the titles
.sidebar{width: 50%; z-index: 2; overflow-y: auto; align-items: center;}

// MISCELANEOUS STYLES ================================
.ds-bottom{box-shadow: #625c5cb3 0px 3px 4px, #a5a5a599 0px 2px 4px;}
.ds-bottom-right{box-shadow: #625c5cb3 0px 3px 4px, #a5a5a599 0px 2px 4px, #625c5cb3 3px 0px 4px, #a5a5a599 2px 0px 4px;}
.lgwidth{width: 125px;}
.z-index-1{z-index: -1;}
a{color: inherit; text-decoration: none;}
a:hover{color: inherit; text-decoration: none;}
a:visited{color: inherit; text-decoration: none;}
a:active{color: inherit; text-decoration: none;}


// Scrollbar styles
/* SCROLLBAR */
::-webkit-scrollbar{width: 0;}
// /* Track */
::-webkit-scrollbar-track{background: $none; background-clip: content-box;}
// /* Handle */
::-webkit-scrollbar-thumb{background: $none;}

// border styles
.b0{border: none;}
.bt{border-top: solid 1px #d6d6d6; }
.bb{border-bottom: solid 1px #d6d6d6;}


// Markdown Styles
.markdown{z-index: 8;}

// MOBILE MENU STYLES AND CLASSES

.show{display: block;}
.hide{display: none;}
.limit{display: none;}




// ASH STYLES

// HEADER
.topbar{align-items: center; height:70px; width:100%; padding:0 20px; box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3); position: fixed; top:0; left:0; z-index: 2;}

// SIDEBAR
.sidebar{width:260px; position: fixed; top: 70px; left: 0; box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3); z-index: 1; padding-top:20px; overflow-y:auto; padding: 20px 0 0 0;}
.sidebar ul{padding:0; margin:0;}
.sidebar ul li{list-style: none; margin:0; padding:0; border-top:1px solid #d6d6d6;}
.sidebar ul li:last-of-type{border-bottom:1px solid #d6d6d6;}
.sidebar ul li a{display: block; padding: 5px 10px; transition: all 200ms linear;}
.sidebar ul li a:hover{background:rgba(0,0,0,0.02);}

// MAIN CONTAINER
.main__container{display: flex; margin-left: 260px; height: calc(100% - 70px); margin-top: 70px; position: relative;}
.bg__styled__container{position: absolute; right:0; top:0; display: block; width:50%; height:100%; background:$purple; z-index:-1;}

.markdown{padding:20px; overflow-y: auto; z-index: 0;}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown p{margin-right:50%; width:50%; padding-right:20px;}
pre{float:right; width:50%; clear:right; padding-left:20px; background: #10002f;}
