@import "desktop-styles.scss";

@media only screen and (max-width: 1080px){
    .dns{display:none;}
}


@media only screen and (max-width: 1080px){
    // Headings
    h1{font-size: 25px; grid-column: 1;} h2{font-size: 23px; grid-column: 1;} h3{font-size: 18px; grid-column: 1;} h4{font-size: 15px; grid-column: 1;}
    .h4-b{font-size: 13px;}
}

@media only screen and (max-width: 1080px){
    h1{font-size: 22px;} h2{font-size: 18px;} h3{font-size: 15px;} h4{font-size: 12px;}
    .h4-b{font-size: 10px;}

    .bg__styled__container{display: hidden; background: $grey; width: 100%;}

    .dmenu{display: none;}
    .mmenu{display: block; align-self:right;}
    .se{align-items: flex-start; justify-content: flex-start; padding-right: 10px;}
    .limit{display: block;}
    
    pre{float:none; width:100%; clear:none; padding-left:20px;}
    code, pre{align-items: flex-start; margin: 0; padding: 5px;}

    .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown p{margin-right:0; width:100%; padding-right:0px;}

    .main__container{margin-left:0;}
    .sidebar{display: none; width:0;}

    .o_sb{display: block; width:260px;}
    .o_mic{grid-column: 1 / -1;}
}